

/*Style guide */
:root{

    --clr-light-blue:hsl(227, 92%, 58%);
    --clr-dark-blue: hsl(215, 31%, 21%);
    --clr-grey: hsl(215, 17%, 45%);
    --clr-light-grey: hsl(200, 24%, 88%);
    --white: hsl(0, 0%, 100%);

}

